figure{
    margin-left: 250px;
    padding-bottom: 10px;
 }
 figcaption{
    text-align: left;
 }
 .heading {
    color: steelblue;
    font-family: 'SF UI Display';
    font-size: 48px;
    text-align: left;
 }
 #main-body{
    background-color: black;
 }
 
 h2{
    color: steelblue;
    font-family: 'SF UI Display';
    font-size: 36px;
    text-align: center;
 }
 p{
    color: steelblue;
    text-align: center;
    font-family: 'SF UI Display';
    font-size: 20px;
 }
 figcaption{
    color: steelblue;
    font-size: 15px;
 }